vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Sep 2015 10:51:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Rik-VAIO\\Rik
vti_modifiedby:SR|Rik-PC\\Rik
vti_timecreated:TR|30 Jun 2015 18:27:42 -0000
vti_backlinkinfo:VX|bouncingball.html looseends.html validatinguserinput.html canvas.html rangefocus.html websocket.html old_bouncingball.html dragdrop.html eventlistening.html old_looseends.html webstorage.html randomize.html clock.html video.html map.html Sjabloon.dwt old_map.html old_index.html showinghiding.html index.html promises.html bouncingballangled.html upload.html regularexpression.html old_upload.html positioning.html svg.html transforms.html
vti_nexttolasttimemodified:TW|30 Sep 2015 10:50:10 -0000
vti_cacheddtm:TX|30 Sep 2015 10:51:00 -0000
vti_filesize:IR|1394
vti_cachedlinkinfo:VX|Q|default.css S|../img/pattern2.png
vti_cachedsvcrellinks:VX|FQUS|css/default.css FSUS|img/pattern2.png
