vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Sep 2015 10:23:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Rik-VAIO\\Rik
vti_modifiedby:SR|Rik-PC\\Rik
vti_timecreated:TR|30 Jun 2015 18:27:36 -0000
vti_backlinkinfo:VX|bouncingball.html looseends.html validatinguserinput.html canvas.html rangefocus.html websocket.html old_bouncingball.html dragdrop.html eventlistening.html old_looseends.html webstorage.html randomize.html video.html map.html Sjabloon.dwt old_map.html old_index.html showinghiding.html index.html upload.html regularexpression.html old_upload.html positioning.html svg.html transforms.html
vti_nexttolasttimemodified:TW|27 Sep 2015 10:22:48 -0000
vti_cacheddtm:TX|27 Sep 2015 10:23:20 -0000
vti_filesize:IR|1571
vti_cachedlinkinfo:VX|S|../img/pattern-wavy-grad.png S|../img/arrow1-rightwards-black.png S|../img/pattern-wavy-grad.png
vti_cachedsvcrellinks:VX|FSUS|img/pattern-wavy-grad.png FSUS|img/arrow1-rightwards-black.png FSUS|img/pattern-wavy-grad.png
