vti_encoding:SR|utf8-nl
vti_author:SR|Rik-PC\\Rik
vti_modifiedby:SR|Rik-PC\\Rik
vti_timelastmodified:TR|26 Oct 2015 10:59:17 -0000
vti_timecreated:TR|23 Oct 2015 09:55:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|bouncingball.html looseends.html regularexpression.html upload.html validatinguserinput.html canvas.html positioning.html rangefocus.html svg.html transforms.html dragdrop.html eventlistening.html randomize.html websocket.html webstorage.html Sjabloon.dwt index.html map.html showinghiding.html video.html
vti_nexttolasttimemodified:TW|26 Oct 2015 10:58:47 -0000
vti_cacheddtm:TX|26 Oct 2015 10:59:17 -0000
vti_filesize:IR|4018
