vti_encoding:SR|utf8-nl
vti_author:SR|Rik-PC\\Rik
vti_modifiedby:SR|Rik-PC\\Rik
vti_timelastmodified:TR|08 Oct 2015 09:33:52 -0000
vti_timecreated:TR|30 Jun 2015 10:30:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|bouncingball.html looseends.html validatinguserinput.html old_upload.html canvas.html positioning.html rangefocus.html svg.html transforms.html websocket.html old_bouncingball.html dragdrop.html eventlistening.html old_looseends.html webstorage.html randomize.html video.html map.html Sjabloon.dwt old_map.html old_index.html showinghiding.html index.html upload.html regularexpression.html
vti_nexttolasttimemodified:TW|08 Oct 2015 09:33:07 -0000
vti_cacheddtm:TX|08 Oct 2015 09:33:52 -0000
vti_filesize:IR|1918
