vti_encoding:SR|utf8-nl
vti_author:SR|Rik-PC\\Rik
vti_modifiedby:SR|Rik-PC\\Rik
vti_timelastmodified:TR|23 Oct 2015 16:11:31 -0000
vti_timecreated:TR|20 Jun 2015 07:27:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|23 Oct 2015 16:10:34 -0000
vti_backlinkinfo:VX|bouncingball.html looseends.html validatinguserinput.html canvas.html rangefocus.html websocket.html old_bouncingball.html dragdrop.html eventlistening.html old_looseends.html webstorage.html randomize.html video.html map.html Sjabloon.dwt old_map.html old_index.html showinghiding.html index.html upload.html regularexpression.html old_upload.html positioning.html svg.html transforms.html
vti_cacheddtm:TX|23 Oct 2015 16:11:31 -0000
vti_filesize:IR|8994
vti_cachedlinkinfo:VX|S|../img/paper2.png S|../img/paper3.png S|../img/schaduw.png
vti_cachedsvcrellinks:VX|FSUS|img/paper2.png FSUS|img/paper3.png FSUS|img/schaduw.png
